<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{{ g.owner.avatar(30) }}">
    <title>{{ handler.settings["blog_title"] }}</title>
    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/static/css/main.css" rel="stylesheet">
    <script src="/static/js/chart.js"></script>
    <script src="/static/js/moment-with-langs.js"></script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <!-- Static navbar -->
    <div class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">{{ escape(handler.settings["owner"]) }}</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/about">About</a></li>
            <li><a href="/blog">Blog</a></li>
            {% if current_user %}
            <li><a href="/admin/logout?next={{ request.uri }}">Logout</a></li>
              <li><a href="/compose">New post</a></li>
            {% end %}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
    <!-- messages -->
    {% set messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-info">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
          </div>
        {% end %}
      {% end %}

    {% block content %}{% end%}

    <!-- +++++ Footer Section +++++ -->
    
    <div id="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <h4>My email</h4>
                    <p>{{ escape(handler.settings["email"]) }}<br/>
                    </p>
                </div><!-- /col-lg-4 -->
                <div class="col-lg-4">
                    <h4>My Links</h4>
                    <p>
                    {% for link, link_url in handler.settings["links"].items()%}
                    <a href="{{ escape(link_url) }}">{{ escape(link) }}</a><br/>
                    {% end %}
                    </p>
                </div><!-- /col-lg-4 -->
                <div class="col-lg-4">
                    <h4>About Blog</h4>
                    <p>{{ escape(handler.settings["about_blog"]) }}</p>
                </div><!-- /col-lg-4 -->
            </div>
        </div>
    </div>
    
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="/static/js/hover.zoom.js"></script>
    <script src="/static/js/hover.zoom.conf.js"></script>
  </body>
</html>

