<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
  <!-- Posts Lists -->
  <link id="prettify-style" href="https://www.zybuluo.com/static/editor/libs/google-code-prettify/prettify-cmd.css" type="text/css" rel="stylesheet">
  <div id="grey">
    <div class="container">
       {% for post in posts.items%}
           <div class="row">
             <div class="col-lg-8 col-lg-offset-2">
               <p><a href="/about"><img src="{{post.author.avatar(70)}}" alt="{{post.author.nickname}}" class="img-circle"></a><ba><a href="/about">{{post.author.nickname}}</a></ba></p>
               <p>{% raw momentjs(post.create_time).calendar() %}</p>
               <h3>{{post.title.replace('-',' ')}}</h3>
               {% if post.content.__len__() > 300 %}
                 <p> {{ html2text(post.content[:300]) }} ......</p>
               {% else %}
                 <p>{{ html2text(post.content) }} </p>
               {% end %}
               {% if post.comments %}
                 <p class="text-right">comments {{ post.comments.__len__() }}</p>
               {% end %}
               <p><a href="/post/{{post.title}}">Continue Reading...</a></p>   
               {% if post.modified_time != post.create_time %}<p class="text-right">Last modified at :{% raw momentjs(post.modified_time).fromNow() %}</p> {% end %}
               <hr>
             </div>
           </div><!-- /row -->
       {% end %}
       <div class="row">
         <div class="col-lg-8 col-lg-offset-2">
       {% if posts.has_prev %}
       <a href="/blog/{{posts.prev_num}}"><< Newer posts </a>
       {% else %}
         << Newer posts
       {% end %}
       {% if posts.has_next %}
       <p class="text-right"><a href="/blog/{{posts.next_num}}">Older post >> </a></p>
       {% else %}
          <p class="text-right">Older post >></p>
       {% end %}
         </div>
       </div><!-- /row -->
    </div> <!-- /container -->
  </div><!-- /grey -->
    
{% end %}
