<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
  <!-- +++++ Post +++++ -->
  <div id='grey'>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <form action="{{ request.path }}" method = "post" class="well"" >
            {% module xsrf_form_html() %}
            {% raw form.title(placeholder="title", class_ = "form-control") %} 
            {% for error in form.errors.get('title', []) %}
              <span class="help-inline">{% raw error %}</span><br>
            {% end %}
            <br>
            <!-- {% raw form.content(placeholder="text", class_ = "form-control", id = "editor_id",rows="10") %}
            {% for error in form.errors.get('content', []) %}
              <span class="help-inline">{% raw error %}</span><br>
            {% end %}
            --!>
            <br>
            <div id="editormd">
                {% raw form.markdown(class_="form-control", style="display:none;", rows="30") %}
                {% raw form.content(class_="editormd-html-textarea") %}
            </div>
            {% for error in form.errors.get('markdown', []) %}
              <span class="help-inline">{% raw error %}</span><br>
            {% end %}
            <br>
            {% raw form.time(placeholder="2012-12-21-10-8", class_ = "form-control") %}
            {% for error in form.errors.get('time', []) %}
              <span class="help-inline">{% raw error %}</span><br>
            {% end %}
            <br>
            {% raw form.tags(placeholder="tags,web,http,", class_ = "form-control") %}
            {% for error in form.errors.get('tags', []) %}
              <span class="help-inline">{% raw error %}</span><br>
            {% end %}
            <br>
            {% raw form.category(placeholder="category", class_ = "form-control") %}
            {% for error in form.errors.get('category', []) %}
              <span class="help-inline">{% raw error %}</span><br>
            {% end %}
            <br>
            <button type="submit" class="btn btn-success">SUBMIT</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% end %}
